<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>情感分析</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-6 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle
                                navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                                class="icon-bar"></span></button> <a class="navbar-brand" href="#">您好，{{ id_msg }}</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">历史记录</a>
                            </li>
                            <li>
                                <a href="#">退出登录</a>
                            </li>
                        </ul>
                    </div>

                </nav>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h2>
                            中文微博情感分析
                        </h2>
                        <br />
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <form role="form" action="/text_deal/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label style="font-size:large">输入待分析文本：</label><input type="text"
                                        class="form-control" id="text" name="text" required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit"
                                        class="btn btn-default">分析</button>
                                </div>
                            </form>
                            <div>
                                <label style="color:lightslategrey;font-size:large"></label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <form role="form" action="/data_deal/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label style="font-size:large">待分析微博链接</label><input type="text"
                                        class="form-control" id="ana_text" name="ana_text" required="required" />
                                </div>
                                <div style="text-align:right">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit"
                                        class="btn btn-default">分析</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
            </div>
        </div>
    </div>
</body>

</html>